<!DOCTYPE html>
<html>
    <head>
        <title>View Students</title>
        <%- include ("../partials/header.ejs") %>
        <!-- custom CSS -->
        <link href="/stylesheets/bsOverride.css" rel="stylesheet">
    </head>
    <body>
        <!-- HEADING -->
        <div class="container-fluid mx-3 my-4 float-start">
            <form action="/" method="get" class="form-inline">
                <button type="submit" id="nav-studHome"
                    class="btn btn-outline-dark">
                    <i class="fa fa-chevron-left me-1"></i>
                    Back to Student Database
                </button>
            </form>
        </div>
        <div class="container text-center mb-5 clearfix">
            <h1 class="display-1 text-uppercase">Students</h1>
        </div>

        <!-- box content from database -->
        <% rows.forEach(function(r) { %>
            <button type="button" class="bg-transparent border-noset"
                    data-bs-toggle="offcanvas" data-bs-target="#studEdit<%= r.id _%>">
                <div class="container p-1 mx-5 my-2 text-dark float-start clearfix 
                            border overflow-auto" id="<%= r.id %>">
                    <p class="text-center d-block bg-light rounded">
                        <%= r.fname %> <%= r.lname %>
                    </p>
                    <p class="text-center d-block bg-light rounded">
                        GPA: <%= r.gpa %>
                    </p>
                    <p class="text-center d-block bg-light rounded">
                        Student#: <%= r.studid %>
                    </p>
                </div>
            </button>
        <% }) %>

        <!-- script to dynamically alter boxes -->
        <% rows.forEach(function(r) { %>
            <script>
                // taken from https://stackoverflow.com/a/9932996
                // function that removes a char at an index
                String.prototype.removeCharAt = function (i) {
                    var tmp = this.split('');   // convert to an array
                    tmp.splice(i, 1);           // remove 1 element from the array (zero-index)
                    return tmp.join('');        // reconstruct the string
                }

                var id = '<%- JSON.stringify(r.id) %>';
                var w = '<%- JSON.stringify(r.weight) %>' * 2;
                var h = '<%- JSON.stringify(r.height) %>';
                var hairColour = '<%- JSON.stringify(r.haircol) %>';
                hairColour = hairColour.removeCharAt(8);
                hairColour = hairColour.removeCharAt(0);

                document.getElementById(id).style.width = w + "px";
                document.getElementById(id).style.height = h + "px";
                document.getElementById(id).style.backgroundColor = hairColour;
            </script>
        <% }) %>

        <!-- OFFCANVAS EDIT/DELETE MENU -->
        <% rows.forEach(function(r) { %>
            <div class="offcanvas offcanvas-end bg-primary" id="studEdit<%= r.id _%>">
                <div class="offcanvas-header">
                    <h1 class="offcanvas-title text-light">Edit/Delete Student</h1>
                    <button type="button" data-bs-dismiss="offcanvas"
                    class="btn-close btn-close-white text-reset"></button>
                    
                </div>
                <div class="offcanvas-body">
                    <form action="/deleteStudent/<%= r.id _%>" method="get"
                            class="mb-3">
                        <div class="d-grid gap-3">
                            <button type="submit" class="btn btn-sm btn-danger btn-block">
                                DELETE STUDENT
                            </button>
                        </div>
                    </form>
                    <form action="/updateStudentBox" method="post">
                        <div class="input-group mb-3">
                            <span class="input-group-text">ID</span>
                            <input type="number" id="ID" name="f_ID"
                            class="form-control" value="<%= r.id %>" readonly>
                        </div>
                        <div class="input-group mb-3">
                            <span class="input-group-text">#</span>
                            <div class="form-floating flex-grow-1">
                                <input type="number" min="0" id="studID" name="f_studID" 
                                class="form-control radius-end" value="<%= r.studid %>"
                                placeholder="<%= r.studid %>">
                                <label for="studID">Student ID</label>
                            </div>
                        </div>
                        <div class="input-group mb-3">
                            <div class="form-floating flex-grow-1">
                                <input type="text" id="firstName" name="f_firstName" 
                                class="form-control radius-top" value="<%= r.fname %>"
                                placeholder="<%= r.fname %>">
                                <label for="firstName">First Name</label>
                            </div>
                            <div class="form-floating flex-grow-1">
                                <input type="text" id="lastName" name="f_lastName" 
                                class="form-control radius-bottom" value="<%= r.lname %>"
                                placeholder="<%= r.lname %>">
                                <label for="lastName">Last Name</label>
                            </div>
                        </div>
                        <div class="input-group mb-3">
                            <span class="input-group-text">#</span>
                            <div class="form-floating flex-grow-1">
                                <input type="number" min="0" max="5" step="0.01" id="gpa" name="f_gpa"
                                class="form-control radius-end" value="<%= r.gpa %>"
                                placeholder="<%= r.gpa %>">
                                <label for="gpa">GPA</label>
                            </div>
                        </div>
                        <div class="input-group mb-3">
                            <div class="form-floating flex-grow-1">
                                <input type="number" min="0" max="150" id="age" name="f_age"
                                class="form-control radius-start" value="<%= r.age %>"
                                placeholder="<%= r.age %>">
                                <label for="age">Age</label>
                            </div>
                            <span class="input-group-text">years old</span>
                        </div>
                        <div class="input-group mb-3">
                            <div class="form-floating flex-grow-1">
                                <input type="number" min="0" id="height" name="f_height"
                                class="form-control radius-start" value="<%= r.height %>"
                                placeholder="<%= r.height %>">
                                <label for="height">Height</label>
                            </div>
                            <span class="input-group-text">cm</span>
                        </div>
                        <div class="input-group mb-3">
                            <div class="form-floating flex-grow-1">
                                <input type="number" min="0" id="weight" name="f_weight"
                                class="form-control radius-start" value="<%= r.weight %>"
                                placeholder="<%= r.weight %>">
                                <label for="weight">Weight</label>
                            </div>
                            <span class="input-group-text">kg</span>
                        </div>
                        <div class="input-group mb-3">
                            <span class="input-group-text">Hair Colour:</span>
                            <input type="color" id="hairColour" name="f_hairColour"
                            class="form-control form-control-color" value="<%= r.haircol _%>">
                        </div>
                        <div class="d-grid gap-3">
                            <button type="reset" value="Reset"
                            class="btn btn-danger btn-sm btn-block">Reset</button>
                            <button type="submit" value="Submit" 
                            class="btn btn-success btn-lg btn-block">Save Student</button>
                        </div>
                    </form>
                    
                </div>
            </div>
        <% }); %>
    </body>
</html>